
.bar_graph{

    width: 700px;
    height: 360px;
    padding: 40px 20px 10px 70px;
    margin-top: 50px;
    /* --- font --- */
    font-size: 12px;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: #444444;
    background-color: #ffffff;
    position: relative; 
    margin-left: auto;
    margin-right: auto;	
    border: 1px solid #d5d5d5;
    /* --- css --- */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
/* ------bar graph lists ------ */
.bar_graph ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.bar_graph ul li{
    margin: 0px;
    padding: 0px;
}
/* ------ bar graph hyperlinks------ */

.bar_graph a{
    color: #444444;
    text-decoration: none;
}
/* ------ labels_Y_axis ------ */
.bar_graph ul.labels_Y{
    width: 50px;
    position: absolute;
    top: 40px;
    left: 10px;
    text-align: right;
}
.bar_graph ul.labels_Y li{
    width: 100%;
    height: 49px;	/* 50px including border */
    float: left;
    color: #888888;
    /* --- alignment correction --- */
    border-top: 1px solid transparent;
    position: relative;
    top: -13px;	/* value = font height */

}
.bar_graph ul.labels_X{
       width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
/*	left: 70px;*/
	text-align: center; 
}
.bar_graph ul.labels_X li{
    display: inline;
	width: 80px;
	float: left;
       
        
}
.bar_graph ul.labels_X li.label-x-one{
     margin-left: 18px;
}
.bar_graph ul.labels_X li.label-x-two{
    margin-left: 10px;
}
.bar_graph ul.labels_X li.label-x-three{
    
}
.bar_graph ul.labels_X li.label-x-four{
    margin-left: 10px;
}
.bar_graph ul.labels_X li.label-x-five{
    
}
.bar_graph ul.labels_X .label-x-six{
    margin-left: 3px;
}
.bar_graph ul.labels_X li.label-x-seven{
    margin-left: -5px;
}

.bar_graph div.label span{
    font-weight: bold;
}
.bar_graph div.label{
    width: 100%;
	height: 50px;
	float: left;
	margin-top: 20px;
	text-align: center;
}

/* ==================== GRAPH  ==================== */

/* ------ base ------ */
.bar_graph div.graph{
    width: 100%;
	height: 100%;
	float: left;
}
.bar_graph div.graph ul .grid{
    width: 100%;
}
.bar_graph div.graph li{
    width: 100%;
	height: 49px;	/* 50px including border */
	float: left;
	border-top: 1px solid #e5e5e5;

}
/* ------ other browsers grid ------ */
.bar_graph div.graph li:nth-child(odd){
    width: 100%;
	height: 49px;	/* 50px including border */
	float: left;
	border-top: 1px solid #e5e5e5;
	background-color: #f8f8f8;
}
.bar_graph div.graph li:nth-child(even){
    width: 100%;
	height: 49px;	/* 50px including border */
	float: left;
	border-top: 1px solid #e5e5e5;
}
.bar_graph div.graph li.bottom{
    border-top: 1px solid #d5d5d5;
	background-color: #eeeeee;
	height: 19px;
}
.bar_graph div.graph li.bar{
    width: 25px;
	float: left;
	position: absolute;
	bottom: 67px;
	text-align: center;
	/* --- css --- */
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
/* ------ bar top circle ------ */
.bar_graph div.graph li.bar div.top{
    width: 100%;
	height: 10px;
	margin-top: -5px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.bar_graph div.graph li.bar div.bottom{
    width: 100%;
	height: 10px;
	position: absolute;
	bottom: -5px;
	left: 0px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.bar_graph div.graph li.bar span{
    visibility: hidden;	/* show label on mouse over */
	position: relative;
	top: -45px;
	padding: 3px 5px 3px 5px;
	z-index: 100;
	background-color: #eeeeee;
	border: 1px solid #bebebe;
	/* --- css3 --- */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	/* --- gradient --- */
	background-image: linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE8 */
	background: -ms-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* IE9 */
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Firefox */ 
	background: -o-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #f1f1f1), color-stop(1, #ebebeb)); /* Chrome 10, Safari */
	/* --- shadow --- */
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.bar_graph div.graph li.n_one{
    left: 120px;
}
.bar_graph div.graph li.n_two{
    left: 205px;
}
.bar_graph div.graph li.n_three{
    left: 291px;
}
.bar_graph div.graph li.n_four{
    left: 375px;
}
.bar_graph div.graph li.n_five{
    left: 455px;
}
.bar_graph div.graph li.n_six{
    left: 535px;
}
.bar_graph div.graph li.n_seven{
    left: 610px;
}
/*.bar_graph div.graph li.n_eight{
    left: 465px;
}*/
.bar_graph div.graph li.blue{
    background: #208faf;	/* --- IE --- */
	background: rgba(32,143,175,0.8);
}
/* ------ top ------ */
.bar_graph div.graph li.blue div.top{
    background: #72b8cc;
}
/* ------ bottom ------ */
.bar_graph div.graph li.blue div.bottom{
    background: #208faf;
}
/* ==================== GREEN BAR  ==================== */
/* ------ base ------ */
.bar_graph div.graph li.green{
    background: #608d00;	/* --- IE --- */
	background: rgba(96,141,0,0.8);
}
/* ------ top ------ */
.bar_graph div.graph li.green div.top{
    background: #a2c656;
}
/* ------ bottom ------ */
.bar_graph div.graph li.green div.bottom{
    background: #608d00;
}
/* ==================== ORANGE BAR  ==================== */
/* ------ base ------ */

/*.bar_graph div.graph li.orange{
    background: #ff9000;	/* --- IE --- */
	/*background: rgba(255,144,0,0.8);
}
*/
/*
.bar_graph div.graph li.orange div.top{
    background: #ffc24c;
}
.bar_graph div.graph li.orange div.bottom{
    background: #ff9000;
}
*/
/* ==================== HOVERS  ==================== */
.bar_graph div.graph li.blue:hover{
    cursor: pointer;
	background: #208faf;
}
.bar_graph div.graph li.green:hover{
    cursor: pointer;
	background: #608d00;
}
.bar_graph div.graph li.bar:hover span{
    visibility: visible;
	cursor: pointer;
	top: -55px;
	margin: 0px;
}